magento2/.buildpath
magento2/.cache
magento2/.metadata
magento2/.project
magento2/.settings
magento2/.vscode
magento2/atlassian*
magento2/nbproject
magento2/robots.txt
magento2/sitemap
magento2/sitemap.xml
magento2/.idea
magento2/.gitattributes
magento2/app/config_sandbox
magento2/app/etc/env.php
magento2/app/code/Magento/TestModule*
magento2/node_modules
magento2/.grunt
magento2/Gruntfile.js
magento2/package.json
magento2/.php_cs
magento2/.php_cs.cache
magento2/grunt-config.json
magento2/pub/robots.txt
magento2/pub/sitemap
magento2/pub/sitemap.xml
magento2/pub/media/*.*
magento2/pub/media/attribute/*
magento2/pub/media/analytics/*
magento2/pub/media/catalog/*
magento2/pub/media/customer/*
magento2/pub/media/downloadable/*
magento2/pub/media/favicon/*
magento2/pub/media/import/*
magento2/pub/media/logo/*
magento2/pub/media/custom_options/*
magento2/pub/media/theme/*
magento2/pub/media/theme_customization/*
magento2/pub/media/wysiwyg/*
magento2/pub/media/tmp/*
magento2/pub/media/captcha/*
magento2/pub/static/*
magento2/var/*
magento2/vendor/*
magento2/generated/*
magento2/lib/*
magento2/bin/magento
magento2/composer.json

*.sample
*.DS_Store
!*.htaccess
