opcache.enable={{ default .Env.PHPFPM_OPCACHE_ENABLE "1" }}
opcache.memory_consumption={{ default .Env.PHPFPM_OPCACHE_MEMORY_CONSUMPTION "1024" }}
opcache.max_accelerated_files=130987
opcache.consistency_checks=0
opcache.interned_strings_buffer={{ default .Env.PHPFPM_OPCACHE_INTERNED_STRINGS_BUFFER "32" }}
opcache.validate_timestamps=0
opcache.revalidate_freq=90
opcache.enable_cli=1
opcache.fast_shutdown=1
opcache.save_comments={{ default .Env.PHPFPM_OPCACHE_SAVE_COMMENTS "1" }}
opcache.max_wasted_percentage={{ default .Env.PHPFPM_OPCACHE_MAX_WASTED_PERCENTAGE "15" }}
opcache.enable_file_override={{ default .Env.PHPFPM_OPCACHE_ENABLE_FILE_OVERRIDE "1" }}
opcache.huge_code_pages={{ default .Env.PHPFPM_OPCACHE_HUGE_CODE_PAGES "1" }}

